@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

html,
body {
    /* height: 100%; */
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}


header {
    font-weight: 500
}
.deals {
    display: flex;
    gap: 20px;
    width: fit-content;
    /* flex-direction: column; */
    padding: 20px;
}

/* components  */
.counter {
    border-radius: 45px;
    padding: 5px 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    border: 4.5px solid #F5EFE8;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #2B2B43;
}

.counter i {
    cursor: pointer;
    padding: 10px;
    background-color: #EDEEF2;
    border-radius: 40%;
}

.counter-small {
    border: none;
    padding: 0;
    gap: 10px;
}
.counter-small i {
    padding: 5px;
}

.deal-card {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 188px;
    background: #F3F4FF;
    border-radius: 16px;
    display: flex;
}
.deal-card > * {
    width: 50%;
}



.deal-card .card-desc {
    width: 100%;
    padding: 24px 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.deal-card .card-desc .top {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.deal-card div * {
    margin: 0px;
}

.deal-card .card-subject {
    font-weight: 600;
    font-size: 16px;
}

.deal-card .card-subtitle {

    font-weight: 300;
    font-size: 14px;
}

.deal-card .off-percent {
    font-weight: 800;
    font-size: 40px;
}

.deal-card-alt {
    background: #FFF3ED;
}

.text-alt {
    color: #FD6D22;
}

.text-primary {
    color: #4E60FF;
}

/* end component */


/* footer  */

footer {
    margin: 0px;
    padding: 0 25px;
    padding-bottom: 10px;
    background: #222;
    height: fit-content;
}

.c-row {
    color: #F5EFE8;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

footer .logo-area {
    padding: 60px 50px;
    width: fit-content;
    background-color: #F5EFE8;
    border-radius: 0px 0px 50px 50px;
}

footer .logo-area img {
    width: 128px;
}

footer .c-row i {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

footer .c-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer .c-title div {
    border-radius: 5px;
    margin: 0px;
    background: #4E60FF;
    width: 70%;
    height: 5px;
}

.input-squared {
    border: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0px;
    width: 70vw;
    height: 35px;

}

.input-squared:focus {
    border: 0px;
    outline: 0px;
    box-shadow: none;
}

footer .newsletter {
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
footer .socials {
    justify-content: center;
    gap: 20px;
    scale: 1.5;
    display: flex;
    color:#fff ;
}

.btn-pr {
    background: #4E60FF;
    color: white;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    border: 0px;
    outline: 0px;
    padding: 12px 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-alt {
    color: #4E60FF;
    background: transparent;
    box-shadow: none;
}
footer hr {
    width: 50%;
    border: none;
    border-bottom: 1px solid #fff;
}
footer .btn-pr {
    max-width: 150px;
}

.popup {
    position: fixed;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    background-color: rgba(34, 34, 34, 0.197);
}
.popup .popup-msg {
    position: absolute;
    width: 50%;
    min-width: fit-content;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 25px;
    padding: 10px;
}
.popup .popup-msg h1 {
    color: #4E60FF;
    margin-bottom: 40px;
}
.popup .popup-msg .popup-msg-txt {
    font-weight: 500;
    display: block;
    margin-bottom: 40px;    
}

/* style in phone  */
@media (max-width:620px) {
    footer > div {
        flex-direction: column;
        gap: 30px;
    }
    .btn-pr {
        width: 114px;
        height: 40px;
        align-self: center;
    }
    
}



@media (max-width:768px) {
    .deals {
        flex-direction: column;
    }
}
@media (max-width:600px) {
    .deal-card {
        align-items: center;
        flex-direction: column-reverse;
        height: fit-content;
        width: 100%;
    }
    .deal-card .card-desc {
        flex-direction: row;
        justify-content: space-around;
    }
}